n8n/testing_gmail (1).json
{
  "name": "testing_gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "91a2e7ab-3450-44e2-af07-5c2d6e84d818",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "BDf9xhoPhIwXyL7O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=generate me the whole story{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "94453b1c-f33a-4659-9097-1e5edd124b37",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "c5975d95-3934-405c-878c-010df2934938",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kDaGMO4Vrqfh6u6H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pragnabudigem03@gmail.com",
        "subject": "hello world",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "5b4d4218-94f5-445a-a3fe-e1d9b9c227c2",
      "name": "Send a message",
      "webhookId": "13b47215-8a54-4ce8-80b8-3e277fc8620b",
      "credentials": {
        "gmailOAuth2": {
          "id": "BDf9xhoPhIwXyL7O",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae31421d-28da-4b61-80cc-088638de1046",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f7ef68c1b9059f6e201e324484bdbcccb3610bc44c54fb430d0d41107f74151"
  },
  "id": "t3PAdktxpbkkPjt5",
  "tags": []
}